@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  height: 100%;
}

body {
  margin: 0;
  @apply bg-gray-100;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-sky-900;
}

nav {
  @apply p-7;

  a {

    &.router-link-exact-active {
      @apply text-main-color-500 underline;
    }
    &:hover {
      @apply text-main-color-400;
    }
  }
}

.table-size {
  @apply w-full lg:w-5/6 m-3 min-h-[530px];
}


.sub-nav {
  @apply flex justify-center pt-2 text-2xl;

  div:first-of-type {
    @apply flex justify-evenly w-96
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #333336;
  border-radius: 20px;

}

.has-radius::-webkit-scrollbar-button:start:decrement{
  height: 3%;
}

.has-radius::-webkit-scrollbar-button:end:increment {
  height: 3%;
}